$def with (results,web)
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<title>Zounds</title>
	<link rel="stylesheet" type="text/css" href="static/css/websearch.css" />
	<!--[if IE]>
		<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.0/jquery.min.js"></script>
	<script type="text/javascript" src="static/js/websearch.js"></script>
</head>
<body id="home">

	<!-- Playhead -->
	<canvas width="2" height="200" id="playhead"></canvas>
	
	
	<!-- Query -->
	<h1>Query Sound</h1>
	<div class="snippet query shadow" tabindex="1">
		$ addr = results.query_address
		<div class="spectrogram">
			<div class="tile" style="${results.querytile.img_css(0)}"></div>
			<div style="clear:both;"></div>
		</div>
		<br/>
		<audio>
		  <source src="/audio/$addr" type="audio/ogg" />
		  Your browser does not support the audio tag.
		</audio>
	</div>
	<div style="clear:both;"></div>
	<a id="random_search" href="${web.ctx.homepath + web.ctx.path}" class="linkbutton">Random Search</a>
	<a class="linkbutton toggler" href="javascript:jQuery('#about_text').slideToggle();">About</a>
	<a class="linkbutton toggler" href="javascript:jQuery('#keyboard_text').slideToggle();">Keyboard Navigation</a>
	
	
	<div class="help_text" id="about_text" storage_key="about">
		<h2>About</h2>
		<p>This audio search was built using the 
		<a target="_blank" href="http://www.johnvinyard.com/zoundsdoc">Zounds</a> 
		Python library.  Queries are drawn, at random, from snippets of
		sound in the database.  Search results not only tell you which sounds
		are relevant to the query, but <em>where</em> in those sounds the
		relevant portions occur.</p>
		
		<p>All the sounds here are from 
		<a target="_blank" href="http://www.freesound.org">Freesound.org</a>.
		If you'd like to know more about a sound, or its author, just click
		the "attribution" link below each sound snippet.
		</p>
		
		<p><a class="linkbutton ok" href="javascript:void(0);">OK</a></p>
	</div>



	<div class="help_text" id="keyboard_text" storage_key="keyboard">
		<h2>Keyboard Navigation</h2>
		<p>Using the keyboard will make your experience a lot nicer!
		<ul>
			<li><b>tab</b> to move between search results</li>
			<li><b>spacebar</b> to play the current result</li>
			<li><b>r</b> to do a random search</li>
			<li><b>b</b> to focus on the bookmark url</li>
		</ul>
		</p>
		<p><a class="linkbutton ok" href="javascript:void(0);">OK</a></p>
	</div>
	
	<div style="clear:both;"></div>
	<h1 id="bookmark_text">Bookmark this search:</h1>
	<input id="bookmark" class="link" type="text" readonly="true" value="$results.bookmark"></input>
	<div style="clear:both;"></div>
	
	<hr/>
	<h1>$results.brag</h1>
	$for r in results.results:
		
		<div class="snippet shadow" tabindex="${loop.index + 1}">
			
			<!-- Spectrogram Image -->
			<div class="spectrogram">
			$for t in r.tiles:
				<div class="tile" style="${t.img_css(loop.index)}"></div>
			<div style="clear:both;"></div>
			</div>
			
			<!-- Audio -->
			<audio>
			  <source src="${r.audio_url(loop.index)}" type="audio/ogg" />
			  Your browser does not support the audio tag.
			</audio>
			
			<!-- Debug -->
			<div>$r.id</div>
			<div>$r.scores</div>
			<div><a class="attribution" href="javascript:void(0);" zounds_id="$r.id">attribution</a></div>
		</div>
</body>
</html>