body {	
	background-color:#bbbbcc;
	font-family:'Helvetica Neue',Helvetica,Arial,san-serif;
	color:#444;
}
a {
	color:#556699;
}
#playhead {
	position:absolute;
	display:none;
}
.snippet.focus,.linkbutton {
	background-image: -moz-linear-gradient(bottom, #ccccdd 0%, #ddddee 50%);
  	background-image: -webkit-linear-gradient(bottom, #ccccdd 0%, #ddddee 50%);
}
.snippet {
	background-color:#cfcfdf;
	padding:12px;
	float:left;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-moz-box-shadow:    3px 3px 5px 6px #aaa;
  	-webkit-box-shadow: 3px 3px 5px 6px #aaa;
  	box-shadow:         3px 3px 5px 6px #aaa;
  	outline:none;
  	background-image: -moz-linear-gradient(bottom, #bebece 0%, #cfcfdf 50%);
  	background-image: -webkit-linear-gradient(bottom, #bebece 0%, #cfcfdf 50%);
}
.snippet.focus {
	background-color:#ddddee;
	border:0;
	-moz-box-shadow:    4px 4px 6px 7px #999;
  	-webkit-box-shadow: 4px 4px 6px 7px #999;
  	box-shadow:         4px 4px 6px 7px #999;
}
.spectrogram {
	display:inline-block;
}
.tile {
	height:200px;
	margin:0px;
	padding:0px;
	border:0px;
	background-color:#555555;
	background-repeat:no-repeat;
	float:left;
}
.linkbutton {
	color:#444;
	text-shadow:0 1px 0 #ddd;
	border: 1px solid #bbb;
	border-bottom-color:#aaa;
  	cursor:pointer;
  	border-radius:7px;
  	whitespace:nowrap;
  	font-size:2em;
  	font-weight:bold;
  	display:inline-block;
  	padding:20px;
  	margin:10px;
  	text-decoration:none;
  	padding:20px;
}
.linkbutton:hover {
	background-image: -moz-linear-gradient(bottom, #aabbee 0%, #bbccff 50%);
  	background-image: -webkit-linear-gradient(bottom, #aabbee 0%, #bbccff 50%);
}
.link,.linkbutton,#bookmark_text {
	line-height:24px;
}
.link {
	font-size:1.5em;
	color:#444;
	width:400px;
	padding:10px;
	margin:5px;
}
.snippet,.linkbutton,#bookmark_text {margin:10px;}
#bookmark_text {
	display:inline-block;
	margin-right:0px;
}
#about {margin:10px;font-size:1.5em;}
#about_text {display:none;}