body {
	background-color:#bbbbcc;
}
#playhead {
	position:absolute;
	display:none;
}
.snippet {
	margin:5px;
	background-color:#cfcfdf;
	padding:10px;
}
.snippet.focus {
	background-color:#ddddee;
	border:0;
}